Here is a list
<ul>
[% FOREACH recipe IN recipes -%]
	<li>
		[% recipe.picture_url %]
		[% recipe.name %]
		[% recipe.description %]
	</li>
	<ul>
	[% FOREACH step IN recipe.steps -%]
		<li>
			[% step.name %]
		</li>
		<ul>
		[% FOREACH ingredient IN step.step_ingredients -%]
			<li>
				[% ingredient.name %]
			</li>
		[% END -%]
		</ul>
	[% END -%]
	</ul>
[% END -%]
</ul>

